.Phonetic {
  margin: 0 auto;
}
.Phonetic a {
  border: 1px solid #5e87b8;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 16px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 50ms ease-in-out;
}

.Phonetic a:hover {
  background: #5e87b8;
  color: white;
}

.audio-player {
  display: block;
  margin: 0 auto 20px;
}

.text {
  font-weight: bold;
  text-align: center;
  opacity: 0.6;
}
